<main class="main">
  <section class="inicio">
    <div class="descripcion">
      <p> Lugar reconfortante <strong> para tu comodidad</strong></p>
    </div>
    <div class="galeria-uno">
      <div class="col-1">
        <img src="../../../../assets/WhatsApp Image 2024-10-12 at 4.56.41 PM.jpeg" alt="" width="600" height="300">
      </div>
      <div class="col-2">
        <img src="../../../../assets/imagendelhotel.png" alt="" width="300" height="300">
      </div>
      <div class="col-3">
        <img src="../../../../assets/WhatsApp Image 2024-10-12 at 4.57.08 PM.jpeg" alt="" width="300" height="300">
      </div>
    </div>
  </section>
</main>
