<app-navbar></app-navbar>
<div  class="centrar">
  <div class="card border-secondary mb-3 centrar" style="max-width: 20rem;">
    <div class="card-header center"> {{operacion}}</div>
    <div class="card-body" >
      <form [formGroup]="formProducto" (ngSubmit)="addProduct()">
        <span *ngIf="formProducto.get('name')?.hasError('required') && formProducto.get('name')?.touched">El campo nombre es <strong>Requerido</strong></span>
      <input formControlName="name"  type="text" class="form-control" placeholder="Ingrese nombre" value="getname()">
      <span *ngIf="formProducto.get('description')?.hasError('required') && formProducto.get('description')?.touched">El campo descripcion es <strong>requerido</strong></span>
      <input formControlName="description" type="text" class="form-control" placeholder="Ingrese descripcion">
      <span *ngIf="formProducto.get('price')?.hasError('required') && formProducto.get('price')?.touched">El campo precio es <strong>requerido</strong></span>
      <input formControlName="price" type="text" class="form-control" placeholder="Ingrese precio">
      <span *ngIf="formProducto.get('stock')?.hasError('required') && formProducto.get('stock')?.touched">El campo stock es <strong>Requerido</strong></span>
      <input formControlName="stock" type="text" class="form-control" placeholder="Ingrese stock" >
      <button type="submit"  class="btn btn-primary separar">Aceptar</button>
      <button type="button"  class="btn btn-secondary separar" [routerLink]="['/products']">Volver</button>
      </form>
    </div>
  </div>
</div>
