@import url('https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/quartz/bootstrap.min.css');

.title{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}
